[submodule "third_party/JUCE"]
	path = third_party/JUCE
	url = https://github.com/juce-framework/JUCE.git
	branch = master
[submodule "third_party/WDL"]
	path = third_party/WDL
	url = https://github.com/justinfrankel/WDL.git
[submodule "third_party/pffft"]
	path = third_party/pffft
	url = https://github.com/marton78/pffft.git
