# Ignore all dotfiles except git dotfiles
.*
!.git*
!.clang-format
!.clang-tidy
!.github

# Binaries and build targets
*.a
*.o
*.d
*.so
*.dylib
*.dll
build/
dep/
dist/

# VCV Rack plugin build artifacts
plugins/*/vcv-rack/dist/
plugins/*/vcv-rack/plugin.dylib
plugins/*/vcv-rack/plugin.so
plugins/*/vcv-rack/plugin.dll

# CMake build directories
cmake-build-*/

# JUCE
plugins/juce-multiformat/Builds/
*.jucer
JuceLibraryCode/

# IDE
.vscode/
.idea/
*.xcworkspace/
*.xcuserdata/

# Platform
.DS_Store
Thumbs.db
